
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* FONTE______________________________________________________________________ */

.arapey-regular {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .arapey-regular-italic {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: italic;
  }

  .roboto {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  }

  .ysabeau-office {
    font-family: "Ysabeau Office", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  /* __________________________________________________________________________ */


body{
    display: flex;
    flex-direction: column;
    border: 5px solid  rgb(111, 15, 15) ;
    min-height: 100vh;
}

/* MENU_______________________________________________ */

.menu {
    display: flex; /* Flexbox for at arrangere elementer på én linje */
    align-items: center; /* Justerer elementerne vertikalt, så de er centreret i forhold til hinanden */
    gap: 10px;
}

img {
    width: 130px;
    display: block; /* Sørger for, at billedet ikke får ekstra plads under sig */
    margin-right: 65px;
}

.menu a {
    color: rgb(111, 15, 15);
    text-decoration: double underline rgb(197, 180, 180);
    font-size: 14px;  
    font-family: "Ysabeau Office";
}

/* ________________________________________________________________________ */
/* MAIN */

.flex_container {
    display: flex;             /* Dette gør containeren til en flex-container */
    flex-direction: column;    /* Dette siger, at elementerne skal være stablet ovenpå hinanden */
    align-items: center;       /* Dette centrerer både h1 og hr horisontalt */              /* Ingen afstand mellem elementerne */
}

.season_list_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 34px;
    margin: 43px;
    margin-bottom: 85px;
    margin-top: 50px;
}

.spring, .summer, .fall, .winter{
  display: flex;
  border: 1px solid rgb(120, 95, 45);
  background-color:  rgb(111, 15, 15);
  height: 70px;
  justify-content: center; /* Centrerer horisontalt */
  align-items: center;    /* Centrerer vertikalt */

  /* Jeg vil også kunne placerer teksten i midten, via display: grid; sådan her: */
  /* display: grid; */
  /* place-items: center; Centrerer både horisontalt og vertikalt */
}

.season_list_container a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    letter-spacing: 3px;
    font-family: "Arapey", serif;
    transition: transform 3s; 
}

.season_list_container a:hover{
transform: scale(-1);
color: rgb(0, 0, 0);
}


hr {
    border: none;              
    height: 2px;              
    background-color: rgb(66, 66, 66);
    width: 69%;
}

h1{
display: flex;
place-content: center;
font-family: "Arapey", serif;
color: rgb(111, 15, 15);
font-size: 42px;
margin-top: 70px;
margin-bottom: 19px;
}

.highlight {
    color:  rgb(111, 15, 15); /* Sæt den ønskede farve her */
    text-shadow: 1px 2px rgb(228, 45, 45);;
    font-size: 36px;
}


/* ___________________________________________________________________________ */
/* FOOTER */

footer{
    margin-top: auto;
}

footer p{
    display: grid;
    place-content: center;
    border: 1.5px solid rgb(66, 66, 66);
    height: 30px;
    color: rgb(93, 93, 93);
    padding: 5px;
    margin: 12px;
    letter-spacing: 5px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
}














@media (min-width: 800px){

    img {
        width: 200px;
        display: block; /* Sørger for, at billedet ikke får ekstra plads under sig */
        margin-right: 580px;
    }

    .menu a {
        display: flex;
        font-size: 24px;  
        margin-left: 250px;
        margin-top: 10px;
    }

    .menu{
        padding: 20px;
    }

    h1{
        display: flex;
        place-content: center;
        font-family: "Arapey", serif;
        color: rgb(111, 15, 15);
        font-size: 52px;
        margin-top: 100px;
        margin-bottom: 25px;
    }

    hr{
        width: 40%;
        margin-top: 20px;
        height: 2.7px;
    }

      .season_list_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 35px;
        width: 80%;
        margin: 60px;
        margin: 0 auto;
        margin-top: 100px;
    }

    .season_list_container a{
        font-size: 39px;
        letter-spacing: 3px;
        font-family: "Arapey", serif;
        transition: transform 3s; 
    }
    
    .spring, .summer, .fall, .winter{
      display: flex;
      height: 110px;
      justify-content: center; /* Centrerer horisontalt */
      align-items: center;    /* Centrerer vertikalt */
      margin: 10px;
      border-radius: 2px;
    
      /* Jeg vil også kunne placerer teksten i midten, via display: grid; sådan her: */
      /* display: grid; */
      /* place-items: center; Centrerer både horisontalt og vertikalt */
    }

    .highlight {
        color:  rgb(111, 15, 15); /* Sæt den ønskede farve her */
        text-shadow: 1px 2px rgb(228, 45, 45);;
        font-size: 42px;
    }


}


/* ___________________________________________________________________________________________ */
/* ___________________________________________________________________________________________ */
/* ___________________________________________________________________________________________ */
/* ___________________________________________________________________________________________ */
/* ___________________________________________________________________________________________ */
/* ___________________________________________________________________________________________ */
/* ___________________________________________________________________________________________ */
/* ___________________________________________________________________________________________ */
/* ___________________________________________________________________________________________ */
/* ___________________________________________________________________________________________ */
/* ___________________________________________________________________________________________ */
/* ___________________________________________________________________________________________ */
/* PRODCUTLIST PAGE */

.product_list_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto; /* Definerer én række (kan tilpasses efter behov) */
}

.box {
    display: grid;
    grid-template-columns: subgrid; /* Arver kolonner fra forældre-grid */
    grid-template-rows: subgrid; /* Arver rækker fra forældre-grid */
    border: 1px solid #ccc;
    grid-row: 1 /span 3;
}

.box img {
    width: 70%;
    height: auto;
}

p {
    text-align: left;
}
h4{
    text-align: center; /* Centerer teksten i hver boks */ 
}
